/* Estilos generales */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Playfair Display", serif;
    background-color: #2B1600;
    color: #f2f3f4
}

body {
    max-width: 1200px;
    margin: 0 auto;
}

img {
    max-width: 100%;
    height: auto;
}

.icon-logo-header {
    max-width: 60px;
    max-height: 60px;
    margin-left: 10px;
    background-color: #000000;
}

.button {
    background-color: #D3AF37;
    color: #f2f3f4;
    border: none;
    padding: 8px 16px;
    border-radius: 4px;
    cursor: pointer;
    text-decoration: none;
    display: inline-block;
    margin: 0px 5px
}

.button-grid {
    background-color: #D3AF37;
    color: #f2f3f4;
    border: none;
    padding: 8px 16px;
    border-radius: 4px;
    cursor: pointer;
    text-decoration: none;
    display: inline-block;
    margin: 0px 5px
}

.secondary-button {
    display: inline-block;
    background-color: #f2f3f4;
    color: #000000
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px 0;
    border-bottom: 1px solid #f2f3f4;
    background-color: #000000;
}

.header-logo {
    display: flex;
    align-items: center;
    background-color: #000000;
    padding-left: 20px;
}

header p {
    font-weight: 900;
    font-size: 30px;
    background-color: black;
}

.header-buttons {
    display: flex;
    background-color: black;
    padding-right: 20px;
}

.main-container {
    display: grid;
    grid-template-areas:
        "imagen logo-titulo-texto-boton"
        "titulo-texto imagen-estrellas";
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 400px 400px;
}

.section {
    width: 100%;
    height: 400px;
    overflow: auto;
    border: 1px solid #ffffff;
}

.section-image {
    grid-area: imagen;
    order: 2;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    border: none;
}

.section-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.section-logo-title-text-button {
    grid-area: logo-titulo-texto-boton;
    order: 1;
    padding: 30px;
    background-color: #AF7A6D
}

.section-logo-title-text-button p {
    line-height: 2;
    background-color: #AF7A6D
}

.section-logo-title-text-button img {
    background-color: #AF7A6D
}

.section-logo-title-text-button h2 {
    background-color: #AF7A6D
}
.logo-title {
    display: flex;
    align-items: center;
    background-color: #AF7A6D
}

.icon-logo {
    max-width: 60px;
    max-height: 60px;
}

.section-title-text {
    grid-area: titulo-texto;
    order: 3;
    background-color: #000000;
    padding: 30px;
}

.section-title-text h4 {
    background-color: #000000;
    line-height: 1.5;
    font-size: large;
}

.section-title-text p {
    background-color: #000000;
    line-height: 2;
}

.section-image-stars {
    grid-area: imagen-estrellas;
    order: 4;
    padding: 30px;
    background-color: #000000;
    display: flex;
    flex-direction: column;;
    text-align: center;
}

.img-container {
    width: 100%;
    background-color: #000000;
    display: flex;
    justify-content: center;
    overflow-y: hidden;
}

.img-container img {
    width: 100%;
    max-height: 300px;
    object-fit: cover;
    background-color: #000000;
}

.stars-container {
    padding: 15px 0;
    background-color: #000000;
    display: flex;
    justify-content: center;
}

.stars-container p {
    color: #D3AF37;
    font-size: 30px;
    letter-spacing: 10px;
    background-color: #000000;
}

.team-container {
    margin-bottom: 30px;
}

.team-cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px
}

.team-card {
    border: 1px solid #eeeeee;
    border-radius: 8px;
    padding: 15px;
}

.team-info {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.team-name {
    font-weight: bold;
    margin-left: 15px;
}

.team-photo img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #eeeeee;
    display: flex;
    align-items: center;
    justify-content: center;
}

.team-description {
    margin-top: 5px;
}

footer {
    text-align: center;
    margin-top: 30px;
    padding-top: 20px;
    border-top: 1px solid #eeeeee;
}

@media (max-width: 768px) {
    .main-container {
        grid-template-areas:
            "logo-titulo-texto-boton"
            "imagen"
            "titulo-texto"
            "imagen-estrellas";
        grid-template-columns: 1fr;
        grid-template-rows: repeat(4, 400px);
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .section {
        width: 100%;
        height: 400px;
    }

    .section-logo-title-text-button {
        order: 1;
    }

    .button-grid {
        display: block;
        margin: 0 auto;
    }
    .section-logo-title-text-button .button-grid{
        order: 1;
    }

    .section-image {
        order: 2;
    }

    .section-title-text {
        order: 3;
    }

    .section-image-stars {
        order: 4;
    }

    .img-container {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
    }

    .img-container img {
        width: auto;
        max-width: 90%;
        max-height: 280px;
        object-fit: contain;
        margin: 0 auto;
    }

    .secondary-button {
        display: none;
    }


    .stars-container {
        display: none;
    }

    .team-container {
        padding: 0;
    }

    .team-cards {
        grid-template-columns: 1fr;
        position: relative;
    }

    .team-card-container {
        padding: 20px 30px;
    }

    .team-card-container:not(:last-child) {
        border-bottom: 1px solid #ffffff;
    }

    .team-card {
        margin-bottom: 20px;
        position: relative;
    }

    .team-container {
        overflow: hidden;
    }

    .team-info {
        flex-direction: column;
    }

    .team-name {
        margin-left: 0;
        margin-top: 10px;
        text-align: center;
    }
}